* {
  margin: 0;
  padding: 0;
}

header {
  background-color: black;

}
header nav {
  color: white;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome {
  margin: 0 auto;
  padding: 200px;
  margin-top: 200px;
  background-color: aquamarine;
}

.welcome__title h1 {
  font-weight: 500;
  color: red;
}